<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.meterProduceData.mapper.OCWalvesMapper">
    <sql id="ocwalves_fields">
        FValveCode,FPressure,FRecord,FState
    </sql>
    <resultMap id="ocwalvesResultMap" type="OCWalves">
        <id property="fvalvecode" column="FValveCode"/>
        <result property="fpressure" column="FPressure"/>
        <result property="frecord" column="FRecord"/>
        <result property="fstate" column="FState"/>
    </resultMap>

    <select id="getListByCode" parameterType="java.lang.String" resultMap="ocwalvesResultMap">
        SELECT
        <include refid="ocwalves_fields"/>
        FROM tb_OCWalves
        WHERE FValveCode=#{fvalvecode};
    </select>
</mapper>