<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.search.mapper.BoxBatchMapper">

    <resultMap id="boxBatchResultMap" type="boxBatch">
        <id property="fboxcode" column="FBoxCode"/>
        <result property="fpbatchid" column="FPBatchID"/>
        <result property="fsbatchid" column="FSBatchID"/>
        <result property="fdbatchid" column="FDBatchID"/>
    </resultMap>

    <select id="getBatchInfo" parameterType="map" resultMap="boxBatchResultMap">
        SELECT FBoxCode,FPBatchID,FSBatchID,FDBatchID
        FROM TBox
        WHERE FBoxCode=#{fboxcode}
    </select>
</mapper>