<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.returnMeter.mapper.ReturnMeterMapper">
    <sql id="returnMeter_fields">
        ID,FReturnBatch,FMeterCode,FValveCode,FCustomer,FMeterName,FMeterDirection,FDateTime,FOperator,FReportMisFune,FMeterReading,FProduceTime,FSaleTime,FPreMaintain
    </sql>

    <resultMap id="returnMeterResultMap" type="returnMeter">
        <id property="id" column="ID"/>
        <result property="freturnbatch" column="FReturnBatch"/>
        <result property="fmetercode" column="FMeterCode"/>
        <result property="fvalvecode" column="FValveCode"/>
        <result property="fcustomer" column="FCustomer"/>
        <result property="fmetername" column="FMeterName"/>
        <result property="fmeterdirection" column="FMeterDirection"/>
        <result property="fdatetime" column="FDateTime"/>
        <result property="foperator" column="FOperator"/>
        <result property="freportmisfune" column="FReportMisFune"/>
        <result property="fmeterreading" column="FMeterReading"/>
        <result property="fproducetime" column="FProduceTime"/>
        <result property="fsaletime" column="FSaleTime"/>
        <result property="fpremaintain" column="FPreMaintain"/>
    </resultMap>

    <insert id="add" parameterType="returnMeter" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        treturnmeter(
        <include refid="returnMeter_fields"/>
        )
        VALUES (#{id},#{freturnbatch},#{fmetercode},#{fvalvecode},#{fcustomer},#{fmetername},#{fmeterdirection},#{fdatetime},#{foperator},#{freportmisfune},#{fmeterreading},#{fproducetime},#{fsaletime},#{fpremaintain});
    </insert>

    <update id="update" parameterType="returnMeter">
        UPDATE treturnmeter
        <set>
            <if test="freturnbatch!=null">FReturnBatch=#{freturnbatch},</if>
            <if test="fmetercode!=null">FMeterCode=#{fmetercode},</if>
            <if test="fcustomer!=null">FCustomer=#{fcustomer},</if>
            <if test="fmetername!=null">FMeterName=#{fmetername},</if>
            <if test="fmeterdirection!=null">FMeterDirection=#{fmeterdirection},</if>
            <if test="fdatetime!=null">FDateTime=#{fdatetime},</if>
            <if test="foperator!=null">FOperator=#{foperator},</if>
            <if test="freportmisfune!=null">FReportMisFune=#{freportmisfune},</if>
            <if test="fmeterreading!=null">FMeterReading=#{fmeterreading},</if>
            <if test="fproducetime!=null">FProduceTime=#{fproducetime},</if>
            <if test="fsaletime!=null">FSaleTime=#{fsaletime},</if>
            <if test="fpremaintain!=null">FPreMaintain=#{fpremaintain}</if>
        </set>
        WHERE ID=#{id};
    </update>

    <delete id="delete" parameterType="java.lang.String">
        UPDATE treturnmeter
        SET IsDelete=1
        WHERE ID=#{id};
    </delete>

    <select id="getlist" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        WHERE IsDelete=0 ORDER BY ID DESC;
    </select>
    <select id="findByfanalysor" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        WHERE IsDelete=0 AND FOperator=#{fanalysor};
    </select>

    <select id="getBatchlist" resultMap="returnMeterResultMap">
        SELECT DISTINCT freturnbatch
        FROM treturnmeter
        WHERE IsDelete=0 AND FDateTime=CURRENT_DATE;
    </select>

    <select id="getAllBatchlist" resultMap="returnMeterResultMap">
        SELECT DISTINCT freturnbatch
        FROM treturnmeter
        WHERE IsDelete=0;
    </select>

    <select id="findLastData" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        WHERE IsDelete=0  ORDER BY id DESC;
    </select>

    <select id="findByCondition" parameterType="map" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        <where>
            IsDelete=0
            <if test="freturnbatch!=null">AND FReturnBatch=#{freturnbatch}</if>
            <if test="fmetercode!=null">AND FMeterCode=#{fmetercode}</if>
            <if test="foperator!=null">AND FOperator=#{foperator}</if>
            <if test="fcustomer!=null">AND FCustomer=#{fcustomer}</if>
            <if test="fmetername!=null">AND FMeterName=#{fmetername}</if>
            <if test="fmeterdirection!=null">AND FMeterDirection=#{fmeterdirection}</if>
            <if test="freportmisfune!=null">AND FReportMisFune=#{freportmisfune}</if>
            <if test="startTime!=null"><![CDATA[ AND FDateTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND FDateTime<=#{endTime} ]]> </if>
        </where>
    </select>

    <select id="findBySearch" parameterType="map" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        <where>
            IsDelete=0
            <if test="freturnbatch!=null">AND FReturnBatch=#{freturnbatch}</if>
            <if test="fmetercode!=null">AND FMeterCode=#{fmetercode}</if>
            <if test="startTime!=null"><![CDATA[ AND FDateTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND FDateTime<=#{endTime} ]]> </if>
            <if test="fanalysor!=null">AND FOperator=#{fanalysor}</if>
        </where>
        ORDER BY ID DESC;
    </select>

    <select id="findByMap" parameterType="map" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        <where>
            IsDelete=0
            <if test="foperator!=null">AND FOperator=#{foperator}</if>
            <if test="fcustomer!=null">AND FCustomer=#{fcustomer}</if>
            <if test="fmetername!=null">AND FMeterName=#{fmetername}</if>
            <if test="startTime!=null"><![CDATA[ AND FDateTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND FDateTime<=#{endTime} ]]> </if>
        </where>
    </select>

    <select id="findByDispatch" parameterType="map" resultType="map">
        SELECT fmetercode,fmeterreading,freportmisfune,fpremaintain
        FROM Dispatch
        WHERE fmetercode=#{fmetercode} ORDER BY ID DESC limit 1;
    </select>

    <select id="returnMeterNum" parameterType="map" resultType="map">
        SELECT COUNT(DISTINCT FReturnBatch) AS returnbatchnum,COUNT(DISTINCT fmetercode) AS returnmeternum
        FROM treturnmeter
        <where>
            IsDelete=0
            <if test="fcustomer!=null">AND FCustomer=#{fcustomer}</if>
            <if test="fmetername!=null">AND FMeterName=#{fmetername}</if>
            <if test="startTime!=null"><![CDATA[ AND FDateTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND FDateTime<=#{endTime} ]]> </if>
        </where>
    </select>

    <select id="returnAnalysisNum" parameterType="map" resultType="map">
        SELECT COUNT(DISTINCT treturnmeter.fmetercode) AS analysisnum
        FROM treturnmeter
        JOIN tmeteranalysisinfo ON treturnmeter.fmetercode=tmeteranalysisinfo.fmetercode
        <where>
            treturnmeter.IsDelete=0 AND tmeteranalysisinfo.IsDelete=0
            <if test="fcustomer!=null">AND treturnmeter.FCustomer=#{fcustomer}</if>
            <if test="fmetername!=null">AND treturnmeter.FMeterName=#{fmetername}</if>
            <if test="startTime!=null"><![CDATA[ AND treturnmeter.FDateTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND treturnmeter.FDateTime<=#{endTime} ]]> </if>
        </where>
    </select>
</mapper>