<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.returnMeter.mapper.ReturnGraphMapper">
    <select id="graphReturnYear" parameterType="org.whut.dataManagement.business.returnMeter.entity.MonthProductions"
            resultType="java.lang.Integer">
        select COUNT(a.FMeterCode) from TPackDetailsII as a,TBox as b,TDeliveryBatch as c
        where b.FDBatchID = c.FDBatchID
        AND b.FBoxCode = a.FBoxCode
        AND YEAR(c.FDate) = #{year}
        AND MONTH(c.FDate)= #{month};
    </select>

    <select id="graphReturnYears" parameterType="org.whut.dataManagement.business.returnMeter.entity.MonthProductions"
            resultType="java.lang.Integer">
        select COUNT(a.FMeterCode) from TPackDetailsII as a,TBox as b,TDeliveryBatch as c
        where b.FDBatchID = c.FDBatchID
        AND b.FBoxCode = a.FBoxCode
        AND YEAR(c.FDate) = #{year};
    </select>
</mapper>