<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.whut.dataManagement.business.returnMeter.mapper.ReturnMeterInfoMapper">
    <sql id="returnMeterInfo_fields">
       FMeterCode,FCustomer,FMeterName,FQuantity,FDateTime,FOperator
    </sql>

    <resultMap id="returnMeterInfoResultMap" type="returnMeterInfo">
        <id property="fmetercode" column="FMeterCode"/>
        <result property="fcustomer" column="FCustomer"/>
        <result property="fmetername" column="FMeterName"/>
        <result property="fquantity" column="FQuantity"/>
        <result property="fdatetime" column="FDateTime"/>
        <result property="foperator" column="FOperator"/>
    </resultMap>

    <insert id="add" parameterType="returnMeterInfo" keyProperty="fmetercode">
        INSERT INTO
        treturnmeterinfo(
        <include refid="returnMeterInfo_fields"/>
        )
        VALUES (#{fmetercode},#{fcustomer},#{fmetername},#{fquantity},#{fdatetime},#{foperator});
    </insert>

    <update id="update" parameterType="returnMeterInfo">
        UPDATE treturnmeterinfo
        <set>
            <if test="fmetercode!=null">FMeterCode=#{fmetercode},</if>
            <if test="fcustomer!=null">FCustomer=#{fcustomer},</if>
            <if test="fmetername!=null">FMeterName=#{fmetername},</if>
            <if test="fquantity!=null">FQuantity=#{fquantity},</if>
            <if test="fdatetime!=null">FDateTime=#{fdatetime},</if>
            <if test="foperator!=null">FOperator=#{foperator}</if>
        </set>
        WHERE FMeterCode=#{fmetercode};
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM treturnmeterinfo
        WHERE FMeterCode=#{fmetercode}
    </delete>

    <select id="getlist" resultMap="returnMeterInfoResultMap">
        SELECT <include refid="returnMeterInfo_fields"/>
        FROM treturnmeterinfo
    </select>

    <select id="getstalist" parameterType="org.whut.dataManagement.business.returnMeter.entity.StaQuery" resultMap="returnMeterInfoResultMap">
        SELECT <include refid="returnMeterInfo_fields"/>
        FROM treturnmeter
        WHERE FDateTime BETWEEN #{begindate} AND #{enddate};
    </select>
    <select id="getinlist" parameterType="org.whut.dataManagement.business.returnMeter.entity.StaQuery" resultMap="returnMeterInfoResultMap">
        SELECT <include refid="returnMeterInfo_fields"/>
        FROM treturnmeter
        WHERE FDateTime BETWEEN #{begindate} AND #{enddate} AND FOperator = #{queryvalue};
    </select>
    <select id="getcomlist" parameterType="org.whut.dataManagement.business.returnMeter.entity.StaQuery" resultMap="returnMeterInfoResultMap">
        SELECT <include refid="returnMeterInfo_fields"/>
        FROM treturnmeterinfo
        WHERE FDateTime BETWEEN #{begindate} AND #{enddate} AND FCustomer = #{queryvalue};
    </select>
    <select id="gettypelist" parameterType="org.whut.dataManagement.business.returnMeter.entity.StaQuery" resultMap="returnMeterInfoResultMap">
        SELECT <include refid="returnMeterInfo_fields"/>
        FROM treturnmeter
        WHERE FDateTime BETWEEN #{begindate} AND #{enddate} AND FMeterName = #{queryvalue};
    </select>
    <select id="getretlist" parameterType="org.whut.dataManagement.business.returnMeter.entity.StaQuery" resultMap="returnMeterInfoResultMap">
        SELECT <include refid="returnMeterInfo_fields"/>
        FROM treturnmeter
        WHERE FDateTime BETWEEN #{begindate} AND #{enddate} AND FRInvoNo = #{queryvalue};
    </select>

    <select id="getMonthReturnMeters" parameterType="org.whut.dataManagement.business.returnMeter.entity.MonthReturnMeters"
            resultType="java.lang.Integer">
        select count(FMeterCode) from treturnmeter
        where YEAR (FDateTime) = #{year}
        AND MONTH (FDateTime) = #{month}
    </select>
</mapper>