<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.returnMeter.mapper.ReturnMeterMapper">
    <sql id="returnMeter_fields">
        ID,FMeterCode,FCustomer,FMeterName,FQuantity,FRInvoNo,FDateTime,FOperator
    </sql>

    <resultMap id="returnMeterResultMap" type="returnMeter">
        <id property="id" column="ID"/>
        <result property="fmetercode" column="FMeterCode"/>
        <result property="fcustomer" column="FCustomer"/>
        <result property="fmetername" column="FMeterName"/>
        <result property="fquantity" column="FQuantity"/>
        <result property="frinvono" column="FRInvoNo"/>
        <result property="fdatetime" column="FDateTime"/>
        <result property="foperator" column="FOperator"/>
    </resultMap>

    <insert id="add" parameterType="returnMeter" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        treturnmeter(
        <include refid="returnMeter_fields"/>
        )
        VALUES (#{id},#{fmetercode},#{fcustomer},#{fmetername},#{fquantity},#{frinvono},#{fdatetime},#{foperator});
    </insert>

    <update id="update" parameterType="returnMeter">
        UPDATE treturnmeter
        <set>
            <if test="fmetercode!=null">FMeterCode=#{fmetercode},</if>
            <if test="fcustomer!=null">FCustomer=#{fcustomer},</if>
            <if test="fmetername!=null">FMeterName=#{fmetername},</if>
            <if test="fquantity!=null">FQuantity=#{fquantity},</if>
            <if test="frinvono!=null">FRInvoNo=#{frinvono},</if>
            <if test="fdatetime!=null">FDateTime=#{fdatetime},</if>
            <if test="foperator!=null">FOperator=#{foperator}</if>
        </set>
        WHERE ID=#{id};
    </update>

    <delete id="delete" parameterType="java.lang.String">
        UPDATE treturnmeter
        SET IsDelete=1
        WHERE ID=#{id};
    </delete>

    <select id="getlist" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        WHERE IsDelete=0 AND FRInvoNo!=0;
    </select>

    <select id="findByCondition" parameterType="map" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        <where>
            IsDelete=0 AND FRInvoNo!=0
            <if test="foperator!=null">AND FOperator=#{foperator}</if>
            <if test="fcustomer!=null">AND FCustomer=#{fcustomer}</if>
            <if test="fmetername!=null">AND FMeterName=#{fmetername}</if>
            <if test="startTime!=null"><![CDATA[ AND FDateTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND FDateTime<=#{endTime} ]]> </if>
        </where>
    </select>

    <select id="findBySearch" parameterType="map" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        <where>
            FRInvoNo!=0 AND IsDelete=0
            <if test="fmetercode!=null">AND FMeterCode=#{fmetercode}</if>
            <if test="fmetername!=null">AND FMeterName=#{fmetername}</if>
            <if test="frinvono!=null">AND FRInvoNo=#{frinvono}</if>
        </where>
    </select>

    <select id="findByMap" parameterType="map" resultMap="returnMeterResultMap">
        SELECT <include refid="returnMeter_fields"/>
        FROM treturnmeter
        <where>
            IsDelete=0
            <if test="foperator!=null">AND FOperator=#{foperator}</if>
            <if test="fcustomer!=null">AND FCustomer=#{fcustomer}</if>
            <if test="fmetername!=null">AND FMeterName=#{fmetername}</if>
            <if test="frinvono!=null">AND FRInvoNo=#{frinvono}</if>
            <if test="startTime!=null"><![CDATA[ AND FDateTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND FDateTime<=#{endTime} ]]> </if>
        </where>
    </select>
</mapper>