<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.enumTable.mapper.EnumTableMapper">
    <sql id="enumTable_fields">
        ID,FEnumType,FEnumName,FEnumValue
    </sql>

    <resultMap id="enumTableResultMap" type="enumTable">
        <id property="id" column="ID"/>
        <result property="fenumtype" column="FEnumType"/>
        <result property="fenumname" column="FEnumName"/>
        <result property="fenumvalue" column="FEnumValue"/>
    </resultMap>

    <insert id="add" parameterType="map" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        tenumeration(
        <include refid="enumTable_fields"/>
        )
        VALUES (#{id},#{fenumtype},#{fenumname},#{fenumvalue});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="enumTable">
        UPDATE tenumeration
        <set>
            <if test="fenumtype!=null">FEnumType=#{fenumtype},</if>
            <if test="fenumname!=null">FEnumName=#{fenumname},</if>
            <if test="fenumvalue!=null">FEnumValue=#{fenumvalue}</if>
        </set>
        WHERE ID=#{id};
    </update>

    <delete id="delete" parameterType="java.lang.String">
        UPDATE tenumeration
        SET IsDelete=1
        WHERE ID=#{id};
    </delete>

    <select id="getMisList" resultMap="enumTableResultMap">
        SELECT <include refid="enumTable_fields"/>
        FROM tenumeration
        WHERE FEnumType='故障类型' AND IsDelete=0;
    </select>

    <select id="getMisInfoList" parameterType="java.lang.String" resultMap="enumTableResultMap">
        SELECT <include refid="enumTable_fields"/>
        FROM tenumeration
        WHERE FEnumType='故障详情'AND FDescription = #{misType}  AND IsDelete=0;
    </select>

    <select id="getMisInfoAllList" parameterType="java.lang.String" resultMap="enumTableResultMap">
        SELECT <include refid="enumTable_fields"/>
        FROM tenumeration
        WHERE FEnumType='故障详情' AND IsDelete=0;
    </select>

    <select id="getCusList" resultMap="enumTableResultMap">
        SELECT <include refid="enumTable_fields"/>
        FROM tenumeration
        WHERE FEnumType='市场' AND IsDelete=0;
    </select>

    <select id="getEleList" resultMap="enumTableResultMap">
        SELECT <include refid="enumTable_fields"/>
        FROM tenumeration
        WHERE FEnumType='上电显示状态' AND IsDelete=0;
    </select>

    <!--<select id="getMeterList" resultMap="enumTableResultMap">-->
        <!--SELECT <include refid="enumTable_fields"/>-->
        <!--FROM tenumeration-->
        <!--WHERE FEnumType='表具类型' AND IsDelete=0;-->
    <!--</select>-->

    <select id="getAllList" resultMap="enumTableResultMap">
        SELECT <include refid="enumTable_fields"/>
        FROM tenumeration
        WHERE IsDelete=0;
    </select>

    <select id="findBySearch" parameterType="map" resultMap="enumTableResultMap">
        SELECT <include refid="enumTable_fields"/>
        FROM tenumeration
        WHERE
        IsDelete=0
        <if test="fenumname!=null">AND FEnumName=#{fenumname}</if>
        <if test="fenumtype!=null">AND FEnumType=#{fenumtype}</if>
        <if test="fenumvalue!=0">AND FEnumValue=#{fenumvalue}</if>
    </select>
</mapper>