<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.userFunctionRole.mapper.DepartUserMapper">
    <resultMap id="departUser" type="org.whut.dataManagement.business.userFunctionRole.entity.DepartUser">
        <id property="userid" column="ID"/>
        <result property="username" column="NAME"/>
        <result property="fname" column="FNAME"/>
        <result property="sex" column="SEX"/>
        <result property="funcroleName" column="FUNCROLENAME"/>
    </resultMap>

    <select id="getalllist" parameterType="java.lang.String" resultMap="departUser">
        SELECT
        a.id         as         ID,
        a.name       as         NAME,
        a.fname      as         FNAME,
        a.sex        as         SEX,
        b.func_name  as         FUNCROLENAME
        FROM user a, function_power b
        WHERE a.departNo = #{departNo} AND a.func_role = b.func_role
        ORDER BY a.id;
    </select>

    <select id="getlist" parameterType="org.whut.dataManagement.business.userFunctionRole.entity.QueryNumber"
            resultMap="departUser">
        SELECT
        a.id         as         ID,
        a.name       as         NAME,
        a.fname      as         FNAME,
        a.sex        as         SEX,
        b.func_name  as         FUNCROLENAME
        FROM user a, function_power b
        WHERE a.departNo = #{departNo} AND a.func_role = #{funcrole} AND a.func_role = b.func_role
        ORDER BY a.id;
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE a,u FROM user a LEFT JOIN user_authority u ON a.ID=u.userId
        WHERE a.ID=#{userid}
    </delete>

    <select id="getUser" parameterType="java.lang.String"
            resultMap="departUser">
        SELECT
        a.id         as         ID,
        a.name       as         NAME,
        a.fname      as         FNAME,
        a.sex        as         SEX,
        b.func_name  as         FUNCROLENAME
        FROM user a, function_power b
        WHERE a.name = #{username} AND a.func_role = b.func_role
        ORDER BY a.id;
    </select>

    <insert id="addDepart" parameterType="org.whut.dataManagement.business.userFunctionRole.entity.Depart">
        INSERT INTO
        tdepartment(FDepartNo,FDepartName)
        VALUES (#{departNo}, #{departName});
    </insert>

    <select id="checkDepartNo" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tdepartment
        WHERE FDepartNo = #{departNo};
    </select>

    <select id="checkDepartName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tdepartment
        WHERE FDepartName = #{departName};
    </select>
    <select id="findDepartNoByUser" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT departNo
        FROM user
        WHERE name = #{username};
    </select>

    <update id="upRoleById" parameterType="org.whut.dataManagement.business.userFunctionRole.entity.RoleNo">
        UPDATE user
         SET func_role = #{funcRole}
         WHERE id = #{userid};
    </update>
</mapper>