<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.inspection.mapper.InspectionMapper">
    <sql id="inspection_fields">
        ID,FInspectionBatch,FMeterCode,FDepartment,FOperator,FDate,FGasTightness
    </sql>
    <sql id="inspection_all_fields">
        ID,FInspectionBatch,FMeterCode,FDepartment,FOperator,FDate,
        FExterior,FVoltage,FGas,FMisOperation,FGasControl,FDataKeep,
        FGasAccumulated,FExteriorProtect,FDefend,FMDisturbance,FMaxElec,
        FGasTightness,FAirtightness,FSwitchError
    </sql>

    <resultMap id="inspectionResultMap" type="inspection">
        <id property="id" column="ID"/>
        <result property="finspectionbatch" column="FInspectionBatch"/>
        <result property="fmetercode" column="FMeterCode"/>
        <result property="fdepartment" column="FDepartment"/>
        <result property="foperator" column="FOperator"/>
        <result property="fdate" column="FDate"/>
        <result property="fgastightness" column="FGasTightness"/>
        <!--<result property="FMisOperation" column="FMisOperation"/>-->
        <!--<result property="FGasControl" column="FGasControl"/>-->
        <!--<result property="FDataKeep" column="FDataKeep"/>-->
        <!--<result property="FGasAccumulated" column="FGasAccumulated"/>-->
        <!--<result property="FExteriorProtect" column="FExteriorProtect"/>-->
        <!--<result property="FDefend" column="FDefend"/>-->
        <!--<result property="FMDisturbance" column="FMDisturbance"/>-->
        <!--<result property="FMaxElec" column="FMaxElec"/>-->
        <!--<result property="FAirTightness" column="FAirTightness"/>-->
        <!--<result property="FSwitchError" column="FSwitchError"/>-->
    </resultMap>
    <insert id="add" parameterType="inspection" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        tinspection(
        <include refid="inspection_all_fields"/>
        )
        VALUES (#{id},#{finspectionbatch},#{fmetercode},#{fdepartment},#{foperator},#{fdate},
        #{fexterior},#{fvoltage},#{fgas},#{fmisoperation},#{fgascontrol},#{fdatakeep},
        #{fgasaccumulated},#{fexteriorprotect},#{fdefend},#{fmdisturbance},#{fmaxelec},
        #{fgastightness},#{fairtightness},#{fswitcherror});
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        UPDATE tinspection
        SET IsDelete=1
        WHERE ID=#{id};
    </delete>
    <select id="getlist" resultMap="inspectionResultMap">
        SELECT <include refid="inspection_fields"/>
        FROM tinspection
        WHERE IsDelete=0 ORDER BY ID DESC;
    </select>
    <select id="findLastBatch" resultMap="inspectionResultMap">
        SELECT <include refid="inspection_fields"/>
        FROM tinspection
        WHERE IsDelete=0 ORDER BY id DESC limit 1;
    </select>
    <select id="getBatchlist" resultMap="inspectionResultMap">
        SELECT DISTINCT finspectionbatch
        FROM tinspection
        WHERE IsDelete=0 AND fdate=CURRENT_DATE;
    </select>
    <select id="findBySearch" parameterType="map" resultMap="inspectionResultMap">
        SELECT <include refid="inspection_fields"/>
        FROM tinspection
        <where>
            IsDelete=0
            <if test="finspectionbatch!=null">AND FInspectionBatch=#{finspectionbatch}</if>
            <if test="fmetercode!=null">AND FMeterCode=#{fmetercode}</if>
            <if test="startTime!=null"><![CDATA[ AND FDate>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND FDate<=#{endTime} ]]> </if>
            <if test="foperator!=null">AND FOperator=#{foperator}</if>
        </where>
        ORDER BY ID DESC;
    </select>
    <select id="findByfoperator" resultMap="inspectionResultMap">
        SELECT <include refid="inspection_fields"/>
        FROM tinspection
        WHERE IsDelete=0 AND FOperator=#{foperator};
    </select>
</mapper>