<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.dataManagement.business.updateRecord.mapper.UpdateRecordMapper">
    <sql id="updateRecord_fields">
        ID,DataName,UpdateDate,UpdateOperator,UpdateName,UpdateKey,UpdateBefore,UpdateAfter
    </sql>

    <resultMap id="updateRecordResultMap" type="updateRecord">
        <id property="id" column="ID"/>
        <result property="dataname" column="DataName"/>
        <result property="updatedate" column="UpdateDate"/>
        <result property="updateoperator" column="UpdateOperator"/>
        <result property="updatename" column="UpdateName"/>
        <result property="updatekey" column="UpdateKey"/>
        <result property="updatebefore" column="UpdateBefore"/>
        <result property="updateafter" column="UpdateAfter"/>
    </resultMap>

    <insert id="add" parameterType="updateRecord" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        updaterecord(
        <include refid="updateRecord_fields"/>
        )
        VALUES (#{id},#{dataname},#{updatedate},#{updateoperator},#{updatename},#{updatekey},#{updatebefore},#{updateafter});
    </insert>

    <select id="findByCondition" parameterType="map" resultMap="updateRecordResultMap">
        SELECT <include refid="updateRecord_fields"/>
        FROM updaterecord
        WHERE UpdateName=#{updatename} AND DataName=#{dataname};
    </select>
</mapper>